*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif ;
}

body, input, select, textarea, button{
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--header-bg);
    color: var(--header-color);
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--toggle-bg);
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--toggle-checked-bg);
}

input:checked+.slider:before {
    transform: translateX(26px);
}


body.light-mode {
    --header-bg: #ffffff;
    --header-color: #000000;
    --toggle-bg: #ccc;
    --toggle-checked-bg: #333;
    background-color: #ffffff;
    color: #000000;
}


body.dark-mode {
    --header-bg: #13131f;
    --header-color: #f9f9f9;
    --toggle-bg: #888;
    --toggle-checked-bg: #00c853;
    background-color: #1b1b1b;
    color: #ffffff;
}